#projects .folder {
  background: #000;
  color: #FFF;
  top: 40%;
  left: 0;
  transform: rotate(20deg);
  transform-origin: top left;
}

#projects .folder-hidden {
  top: 200%;
  z-index: -1;
  transition: top 1000ms;
}

#projects .straight {
  top: 0;
  width: 100%;
  transform: rotate(0);
  box-shadow: none;
}

#projects .folder-overlay:hover {
  cursor: pointer;
  top: 36%;
}

.project-title {
  font-size: 1.6em;
}

.project-links .fa-btn {
  padding: 8px 1px;
}